<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div>

            <h1>W0W OAuth Demo</h1>

            <h2>Homepage</h2>
            
            <h2>Puppies</h2>
            
            <ul>
                <% puppies.forEach( function(puppy) { %>
                    <li>
                        <strong> <%= puppy.name %> </strong>
                        <%= puppy.breed %>
                        <%= puppy.age %>
                    </li>
                <% }); %>
            </ul>

        </div>
    </main>
</body>
</html>