<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head');  %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main class="profileMain">
        <h2>Profile </h2>
        <div class="profileDiv">
            <img id="profilePicture" src="<%= user.picture %>" alt="profile picture">

            <div class="profileDetails">
                <p> <span>Id: </span> <%= user.id %> </p>
                <p> <span>Google Id: </span> <%= user.googleId %> </p>
                <p> <span>Name: </span> <%= user.name %> </p>
            </div>
        </div>
    </main>
</body>
</html>